@charset "UTF-8";

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat.ttf') format('TrueType');
}

@keyframes flutuar {
    to {
        transform: translateY(5%);
    }
}

@keyframes aumentar {
    to {
        transform: scale(0.9);
    }
}

@media all {

    :root {
        --cor-principal: #0D1B2A;
        --cor-secundaria: #050F1A;
        --highlight-color: #0D1B2A;
        --azul-desbotado: #070707;
    }
    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to bottom, #050F1A, #01060C, black);
        color: white;
    }
    
    header {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: var(--azul-desbotado);
    }
    
    header div {
        display: flex;
    }
    
    header img {
        width: 30px;
        opacity: 0.6;
    }
    
    header span {
        padding: 8px;
        font-size: 0.8em;
        color: rgba(255, 255, 255, 0.534);
    }

    main {
        width: 300px;
        height: 550px;
        background-color: rgba(0, 0, 0, 0.219);
        color: rgba(255, 255, 255, 0.534);
        border: 2px solid var(--highlight-color);
        margin-top: 40px;
    }

    main img {
        width: 40px;
    }

    main p {
        font-size: .7em;
        padding: 5px;
    }
    
}

@media screen and (min-width: 481px)  {
    
    main {
        width: 450px;
    }

    main img {
        width: 45px;
    }

    main p {
        font-size: .8em;
    }

}

@media screen and (min-width: 1024px) {
    main {
        width: 700px;
    }
}

