@charset "UTF-8";

@font-face {
    font-family: 'montserrat';
    src: url('../../fonts/Montserrat.ttf') format('TrueType');
}

:root  {
 --highlight: #971212;
 --white: #e7e5e5;
 --transparent-grey: #00000080;
 --darker-transparent-grey: #000000bb;
 --button-grey: #252525;
 --blur: blur(10px);
}


@media all {
    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow: hidden;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(var(--transparent-grey), var(--transparent-grey)), url('../../midia/fundo.webp');
        background-color: black;
        color: var(--white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        background-attachment: fixed;
    }
    
    main {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 400px;
        text-align: center;
        background: linear-gradient(var(--transparent-grey), var(--transparent-grey)), url('../../midia/fundo_login.webp');
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        background-attachment: fixed;
        border-radius: 15px;
    }
    
    main h1 {
        text-shadow: 1px 1px 8px black;
        padding: 10px;
        letter-spacing: 5px;
    }
    
    main img {
        width: 80px;
        margin: auto;
    }
    
    section#login {
        margin: auto;
        padding-bottom: 50px;
    }
    
    section#login input {
        display: block;
        padding: 4px;
        margin: 10px;
        width: 200px;
        height: 35px;
        font-family: 'montserrat';
        border: none;
        border-radius: 5px;
        background-color: #4e626667;
        color: var(--white);
        outline: none;      
    }
    
    section#login input:focus {
        border: 1px solid white;
    }
    
    section#login > button {
        width: 60px;
        height: 30px;
        margin: 5px;
        background-color: var(--button-grey);
        border: none;
        border-radius: 5px;
    }
    
    section#login > button:hover {
        border: 1px solid white;
    }

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.616);
    }

    p#change-password {
        margin: 10px;
        padding: .5rem 0rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
    }

}

@media screen and (min-width: 769px) {

    main {
        width: 450px;
        height: 400px;

    }

    main img {
        width: 80px;
    }

    section#login > input {
        width: 200px;
        height: 40px; 
        font-size: .9em;
    }

    section#login > button {
        width: 70px;
        height: 30px;
    }

}

