@keyframes pop-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }    
}


.file {
    position: absolute;
    width: 70%;
    z-index: 1000;
    animation: pop-up .5s ease-in forwards
}