/* Tela de senha para os arquivos */

.password-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 200px;
    font-family: 'montserrat';
    border: 2px solid white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-color: var(--transparent);
    z-index: 1000;
}

.password-container > p {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    outline: none;
    color: white;
    background-color: var(--greyTransparent);
    transition: 0.5s;
}

.input-box label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.input-box > input:focus ~ label {
    color: #970202;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 8px 10px;
    letter-spacing: 2px;
}

.input-box > input:focus {
    border: 1px solid var(--transparent);
}

.password-container > button {
    width: 100px;
    height: 34px;
    margin-top: 20px;
    outline: none;
    border: 1px solid white;
    font-family: 'montserrat';
    color: white;
    background-color: var(--greyTransparent);
}

.password-container > button:active {
    border: none;
}

.password-container > button:hover {
    border: none;
    color: #970202;
}

@media screen and (min-width: 481px) {
    .password-container {
        height: 250px;
        width: 260px;
    }

    .password-container > p {
        font-size: 1.2em;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .password-container > button { 
        height: 40px;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1024px) {

    .password-container {
        height: 250px;
        width: 300px;
    }

    .password-container > p {
        font-size: 1.2em;
    }

}